.simulationImg {
    top:73px; 
    height:650px; 
    left:0px;
    width:auto !important;
    background-repeat: no-repeat !important;
}
  
.officialTable {
    width: 500px !important;
    border: 1px solid #fff !important;
}

.border {
    border: 1px solid #fff !important;
    box-shadow: 0 -1px 0 0 #ffffff inset !important;
}

.cardColor {
    background-color: #ffffff !important;
}

.cardFontColor {
    background-color: #28a89a !important;
    color: #ffffff !important;
}

.cardTitle {
    background-color: #e5e3e2 !important;
    color: #28a89a !important;
    height: 30px !important;
}

.cardTitleAlign {
    padding-top: 5px !important;
}

.groupBackGroundImg {
    top: 200px !important;
    height: 750px !important;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.stayBackGroundImg {
    top: 200px !important;
    height: 1450px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.optionBackGroundImg {
    top: 200px !important;
    height: 700px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.confirmBackGroundImg {
    top: 200px !important;
    height: 700px;
    left: 0px;
    width: 100%;
    position: absolute;
    z-index: -1;
}


@media only screen and (max-width: 500px) {
    .simulationImg {
        top:73px; 
        height:650px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;

    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 900px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 2300px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 1050px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 950px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 500px) and (max-width:
  599px) {
    .simulationImg {
        top:73px; 
        height:900px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 1000px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 2000px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 600px) and (max-width:
  699px) {
    .simulationImg {
        top:73px; 
        height:900px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 1000px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 2000px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 700px) and (max-width:
  759px) {
    .simulationImg {
        top:73px; 
        height:1000px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }
    

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 1000px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 760px) and (max-width:
  799px) {
    .simulationImg {
        top:73px; 
        height:900px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 900px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 700px) and (max-width:
  799px) {
    .simulationImg {
        top:73px; 
        height:900px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 700px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 2000px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 800px) and (max-width:
  849px) {
    .simulationImg {
        top:73px; 
        height:900px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 700px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1650px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }
  

  @media screen and (min-width: 850px) and (max-width:
  1200px) {
    .simulationImg {
        top:73px; 
        height:650px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 700px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1580px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 1210px) and (max-width:
  1300px) {
    .simulationImg {
        top:73px; 
        height:650px; 
        left:0px;
        width:100% !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;

    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 750px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }




  @media screen and (min-width: 1350px) and (max-width:
  1550px) {
    .simulationImg {
        top:73px; 
        height:800px; 
        left:0px;
        width:1500px !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 750px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

  }


  @media screen and (min-width: 1600px) and (max-width:
  1990px) {
    .simulationImg {
        top:73px; 
        height:700px; 
        left:0px;
        width:2000px !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 750px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }

  }

  @media screen and (min-width: 2000px) and (max-width: 2200px) {
    .simulationImg {
        top:73px; 
        height:750px !important;  
        left:0px;
        width:2100px !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 750px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 2250px) and (max-width: 2500px) {
    .simulationImg {
        top:73px; 
        height:650px; 
        left:0px;
        width:2100px !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 750px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }

  @media screen and (min-width: 2550px) and (max-width: 3500px) {
    .simulationImg {
        top:73px; 
        height:650px; 
        left:0px;
        width:2700px !important;
        background-repeat: no-repeat !important;
    }
      
    .officialTable {
        width: 300px !important;
        border: 1px solid #fff !important;
    }

    .border {
        border: 1px solid #fff !important;
        box-shadow: 0 -1px 0 0 #ffffff inset !important;
    }

    .cardColor {
        background-color: #ffffff !important;
    }
    
    .cardFontColor {
        background-color: #28a89a !important;
        color: #ffffff !important;
    }

    .cardTitle {
        background-color: #e5e3e2 !important;
        color: #28a89a !important;
        height: 30px !important;
    }

    .cardTitleAlign {
        padding-top: 5px !important;
    }

    .groupBackGroundImg {
        top: 200px !important;
        height: 750px !important;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .stayBackGroundImg {
        top: 200px !important;
        height: 1450px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .optionBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .confirmBackGroundImg {
        top: 200px !important;
        height: 700px;
        left: 0px;
        width: 100%;
        position: absolute;
        z-index: -1;
    }
  }